input[type="text"], textarea, select, input[type="password"], input[type="email"], input[type="number"] {
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 12px 20px;
}
#appbundle_adservices_services{
    width: 350px;
}
#appbundle_adservices_price{
    width:180px;
}
textarea{
    height: 100px;
}
button{
    cursor: pointer;
    border: 0;
    background: none;
}

.form-collection-element{
    margin: 5px 15px;
    line-height: 50px;
}

.search-form input[type="text"], .search-form select {
    width: 250px;
    margin: 5px;
}
.search-currency select{
    width: 125px;
    cursor: pointer;
}
.search-area-big input[type="text"]{
    width: 350px;
}
.search-area-big{
    width: 350px;
}
.services-edit .full-size-field{
    width: 90% !important;
    margin: 10px auto;
}
.ad-row select {
    width: 194px;   
}
.edit-price input[type="number"], .edit-price select,
.edit-durability input[type="number"], .edit-durability select {
    width: 97px;
    height: 45px;
}
.search-price input[type="text"]{
    width: 98px;   
}

select {
    background-color: #f3f3f3;
}

textarea {
    resize: none;
}

.light-blue-submit {
    background-color: #90cbff;
    border: none;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
}
.dark-blue-submit{
    background-color: #4ca5f4;
    border: none;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
}
.popup-content{
    text-align: center;
}
.form-horizontal{
    width: 100%;
}

.form-horizontal label {
    display: inline-block;
    width: 40%;
}

.form-horizontal .form-block {
    display: block;
    width: 90%;
    margin: 0 auto;
}

.form-horizontal input[type="text"], .form-horizontal textarea, .form-horizontal select,  .form-horizontal input[type="password"] {
    display: inline-block;
    width: 60%;
}

.form-horizontal .full-size-field input[type="text"], .form-horizontal .full-size-field textarea, .form-horizontal .full-size-field select,  .form-horizontal .full-size-field input[type="password"],.form-horizontal .full-size-field input[type="number"]{
    width: 100%;
}

.vich-image img {
    max-height: 350px;
    max-width: 100%;
}

.fileContainer {
    position: relative;
    font-size: 14px;
    color: #7b8e1f;
    border: none;
    float: right;
    text-decoration: none;
    cursor: pointer;
}
.fileContainer:before{
    display: inline-block;
    content: '.';
    color: #000\9;
    width: 10px;
    height: 15px;
    background-image:  url(../img/sent.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.fileContainer:hover {
    color: #415403;
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}
input{
    border-radius: 3px;
}
.login-data input[type='text'], .login-data input[type='password'], .login-data input[type='email']{
    padding: 10px 15px;
    width: 300px;
    box-sizing: border-box;
    
}
.login-container .dark-blue-submit {
    width: 300px;
    box-sizing: border-box;
}
#remember_me{
    margin-right: 10px; 
}